
logs
project/project
project/target
target
lib_managed
tmp
.history
dist
/.idea
/*.iml
/*.ipr
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws


.idea/.name
.idea/modules.xml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
project/target/config-classes/$22aed527e170580f5447$.class
project/target/config-classes/$22aed527e170580f5447.cache
project/target/config-classes/$22aed527e170580f5447.class
project/target/config-classes/$9ef3efa79e8d3e9da08f$.class
project/target/config-classes/$9ef3efa79e8d3e9da08f.cache
project/target/config-classes/$9ef3efa79e8d3e9da08f.class
target/.history
target/scala-2.12/resolution-cache/com.example/langtonantkata$sbt_2.12/
target/scala-2.12/resolution-cache/com.example/langtonantkata$sources/
target/scala-2.12/resolution-cache/com.example/langtonantkata$sources_2.12/
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sbt_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sbt_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sbt_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sbt_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sbt_2.12-test.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-compile-internal.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-compile.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-optional.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-plugin.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-pom.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-provided.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-runtime-internal.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-runtime.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-scala-tool.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-test-internal.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources-test.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources_2.12-compile.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources_2.12-default.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources_2.12-optional.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources_2.12-provided.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources_2.12-runtime.xml
target/scala-2.12/resolution-cache/reports/com.example-langtonantkata$sources_2.12-test.xml
target/streams/$global/$global/dumpStructureTo/
target/streams/$global/updateClassifiers/
target/streams/$global/updateSbtClassifiers/
target/streams/runtime/externalDependencyClasspath/
target/streams/runtime/managedClasspath/
target/streams/runtime/unmanagedClasspath/
